*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(25,33,36);
    color: #333;
    font-size: 16px;
}

#generator-wrap {
    width: 600px;
    margin: 40px auto;
    background-color: rgb(194, 212, 216);
    padding-bottom: 12px;
}

header {
    background-color: rgb(231, 66, 64);
    color: #efefef;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid rgb(158, 46, 44);
}

#password-wrap {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#password-box {
    width: calc(100% - 3rem);
    height: 3rem;
    line-height: 3rem;
    background-color: #efefef;
    border: 2px solid rgb(25,33,36);
    color: rgb(25,33,36);
    font-size: 1.5rem;
    padding-left: 1rem;
}

#copy-btn {
    height: 3rem;
    line-height: 3rem;
    width: 3rem;
    text-align: center;
    color: #efefef;
    background-color: rgb(53,77,105);
}

#copy-btn:hover {
    cursor: pointer;
    background-color: rgb(36, 51, 70);
}

#copy-btn:active {
    cursor: pointer;
    background-color: rgb(23, 32, 44);
}

#generator-options {
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#generator-options div {
    padding: 20px;
    text-align: center;
    border-right: 1px solid rgba(25, 33, 36, 0.2);
    flex-grow: 1;
}

#generator-options div:last-of-type {
    border: none;
}

#generator-options div input[type="number"] {
    width: 3rem;
}

#generator-options div input{
    margin: 20px 0;
}

#btn-wrap {
    margin: 5px 20px;
}

#btn-wrap #generate-btn {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(101,152,147);
    border: none;
    border-radius: 5px;
    color: #eeeeee;
    font-weight: bold;
}

#btn-wrap #generate-btn:hover {
    cursor: pointer;
    background-color: rgb(73, 112, 108);
    color: #eeeeee;
}

#btn-wrap #generate-btn:active {
    cursor: pointer;
    background-color: rgb(46, 70, 67);
    color: #eeeeee;
}

@media (max-width: 620px) {
    #generator-wrap {
        width: 90%;
    }

    header h1 {
        font-size: 1.6rem;
    }

    #password-box {
        font-size: 1rem;
    }
}